body,html{
    padding: 0;
    margin: 0;
}
.iconfont{
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px;
    margin-left: 10px;
}
iframe{
    width: 100%;
    height: 100%;
}
.layui-body{
    overflow: hidden;
}
.layui-footer{
    font-size: 12px;
    text-align: center;
}
.avatar-container{
    color: white;
    height:55px ;
    line-height: 55px;
    text-align: center;
}
.text-avatar{
    display: inline-block;
    height: 40px;width: 40px;
    border-radius: 50%;
    background-color: pink;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}